.footer{
    display: flex;
    justify-content: center;
    background-image: url("img/footer-background.png");
    width: 100% ;
	background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-items{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}