.video__section{
    background-image: url(../img/wood-img.png);
    width: 100%;
    background-repeat: no-repeat;
    min-height: 700px;
    background-size: cover;
    background-position-x: center;
    margin-bottom: 70px;
    margin-top: 50px;
    position: relative;
    padding-bottom: 90px;
}

.section__wrapper{
    position: relative;
    top: 90px;
    margin: 0 180px;
    padding: 75px 150px;
    border: 2px solid #bea67c;
    margin-bottom: 100px;
}

.heading__content{
    font-size: 48px;
    color: #baa785;
    text-transform: uppercase;
    font-family: 'ProximaNovaBold';
    width: 500px;
}

.p-content{
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'ProximaNovaRegular';
    width: 500px;
    line-height: 30px;
}

.btn__content{
    outline: none;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-family: 'ProximaNovaBold';
    letter-spacing: 5px;
    padding: 25px 75px;
    border: 2px solid #fff;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.btn__content img{
    margin-right: 10px;
    position: relative;
    top: 5px;
}