.videos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.videos-content{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1{
        font-family: 'ProximaNovaBold';
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        margin: 15px auto;
    }

    p{
        text-align: center;
        font-size: large;
        width: 400px;
    }
}

.three-items{
    display: flex;
    justify-content: center;
}

.item{
    margin: 0 50px;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.video-image{
    position: relative;
    width: 100%;
    max-width: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: .5;
    transition: .3s ease;

    &:hover{
        opacity: 1;
    }
}

.play-icon {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 40px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}